:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3.8vw;
    text-align: center;
    padding: 2vh 2vw;
    user-select: none;
}

@media screen and (orientation: landscape) {
    :host {
        flex-direction: row;
        font-size: 3.8vh;
    }
}

:host(.open) {
    padding: 8vh 8vw;
    font-size: 16.5vw;
    line-height: 1.4;
}

@media screen and (orientation: landscape) {
    :host(.open) {
        flex-direction: row;
        line-height: 1.2;
        font-size: 12vw;
    }
}

img {
    width: 70%;
}

@media screen and (orientation: landscape) {
    img {
        height: 70%;
        width: auto;
    }
}

