/* styles */
html,
body {
    padding: 0;
    margin: 0;
    background: #000;
}

meeting-cards {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.card {
    width: 25vw;
    background: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    height: 20vh;
    background-image: repeating-radial-gradient(circle at 50% 70%, rgba(255, 255, 255, 0.05) 5%, transparent 20%, rgba(255, 255, 255, 0.15) 25%);
    overflow: hidden;
}

@media screen and (orientation: landscape) {
    .card {
        height: 25vh;
        width: 25vw;
    }
}

.card.open {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.card.green {
    background-color: #c7de87;
}

.card.red {
    background-color: #fdc753;
}

.card.blue {
    background-color: #b5d6ea;
}

.card.yellow {
    background-color: #efecc8;
}
